body{
  padding-top: 20px;
}
a{
  text-decoration: none;
}
.nav-justified{
  background-color: #eee;
  border-radius: 5px;
}
.nav-justified li a{
  padding: 15px 0;
  color: #777;
  background-color: #e5e5e5;
  font-size: 1.2em;
  font-family: Circular,Verdana,sans-serif;
}
.jumbotron{
  text-align: center;
  background-color: transparent;
}
.jumbotron a{
  padding: 15px 25px;
  font-size: 22px;
}
